[submodule "python3-krakenex"]
	path = python3-krakenex
	url = git@github.com:veox/python3-krakenex.git
[submodule "auction-keeper"]
	path = auction-keeper
	url = git@github.com:makerdao/auction-keeper.git
[submodule "arbitrage-keeper"]
	path = arbitrage-keeper
	url = git@github.com:makerdao/arbitrage-keeper.git
